# Server Connection
PORT=5000

# Database Connectivity
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/publishercms?retryWrites=true&w=majority

# Authentication Secrets
JWT_SECRET=quick_wash_secret_9

# Seed Admin Credentials
ADMIN_EMAIL=ogunwedebo21@gmail.com
ADMIN_PASSWORD=ogunwedebo21

# Image Storage & Media Cloud Options
CLOUDINARY_URL=cloudinary://<key>:<secret>@<cloud_name>
